# Mapix rewrite rules
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ mapix/core/xrt.php [L]
</IfModule>

# TODO Mapix application handler
#Action application/mapix "./mapix/core/xrt.php"
#SetHandler application/mapix
