/**
* Mapix admin default theme
* @author IRCF
*/

/* Elements */
html{
	height:100%;
}
body{
	margin:0;
	padding:0;
	font:12px arial,sans;
	height:100%;
}
a{
	color:inherit;
}

/* Header */
div#header{
	height:67px;
	background:#406c6d url(images/header.jpg) no-repeat;
	color:#fff;
}
div#header div.x-panel-body{
	background:none;
	border:none;
}
div#header a{
	text-decoration:none;
	border-bottom:1px dotted #fff;
}
div#header h1{
	float:left;
	width:120px;
	height:42px;
	background:url(images/logo.png) no-repeat;
	margin:15px 15px 0 15px;
	padding:0;
}
div#header h1 span{
	display:none;
}
div#header h2{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:35px 40px 0 20px;
	padding:0;
}
div#header div.infos{
	float:right;
	text-align:right;
	margin:0 20px 0 0;
}
div#header div.infos p,
div#header div.infos ul{
	padding:0;
	margin:5px 0 0 0;
}
div#header div.infos span{
	margin:0 5px;
}
div#header ul#lang li{
	display:inline;
	margin:0 0 0 10px;
}

/* Panels */
#body{
	float:left;
	width:100%;
	height:100%;
}

/* Panel */
div.panel{
	width:100%;
	height:100%;
	float:left;
	border:1px solid #666;
}

/* Tabs */
div.tabs{
	float:left;
	width:100%;
	background:#ccc;
	border-bottom:1px solid #999;
}
div.tabs a{
	display:block;
	width:10px;
	height:10px;
	margin:2px;
	padding:3px;
	background:transparent none no-repeat center center;
	cursor:pointer;
}
div.tabs a.prev{
	float:left;
	background-image:url(images/left.gif);
}
div.tabs a.prev:hover{
	background-image:url(images/left_filled.gif);
}
div.tabs a.next{
	float:right;
	background-image:url(images/right.gif);
}
div.tabs a.next:hover{
	background-image:url(images/right_filled.gif);
}
div.tabs ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
div.tabs ul li{
	float:left;
	height:16px;
	padding:2px 4px 2px 22px;
	color:#333;
	border:1px solid #999;
	border-bottom:none;
	cursor:pointer;
	background:none transparent no-repeat 4px center;
}
div.tabs ul li:hover{
	background-color:#ddd;
}
div.tabs ul li.selected{
	background-color:#eee;
	margin:0 0 -1px 0;
	border-bottom:1px solid #eee;
}
div.tabs ul li a{
	margin:0;
	float:right;
	background-image:url(images/x.gif);
}
div.tabs ul li:hover a{
	background-image:url(images/x_filled.gif);
}
div.tabs ul li.login{
	background-image:url(images/lock.png);
}
div.tabs ul li.folder{
	background-image:url(images/folder_small.png);
}
div.tabs ul li.download{
	background-image:url(images/download_small.png);
}
div.tabs ul li.text{
	background-image:url(images/text_small.png);
}
div.tabs ul li.xml{
	background-image:url(images/xml_small.png);
}
div.tabs ul li.svg{
	background-image:url(images/svg_small.png);
}
div.tabs ul li.image{
	background-image:url(images/image_small.png);
}
div.tabs ul li.loading{
	background-image:url(images/wait.gif);
}

/* Apps */
ul.apps{
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	/*height:400px;*/
	background:#eee;
	overflow: auto; /* TODO Display scrollbars on document instead of app */
}
ul.apps li{
	display:none;
	float:left;
	width:100%;
	height:100%;
}
ul.apps li.selected{
	display:block;
}
ul.apps li li{
	display:list-item;
	float:none;
	width:auto;
	height:auto;
}

/* Menu */
ul.menu{
	margin:0;
	padding:0;
	background:#eee;
	border-bottom:1px solid #ccc;
	height:20px;
	line-height:20px;
}
ul.menu li{
	display:inline!important;
	padding:0 5px;
	border-right:1px solid #ccc;
	cursor:pointer;
}
ul.menu li.context{
	display:none!important;
}
ul.menu li:hover,
ul.context_menu li:hover{
	background:#fff;
}
ul.menu li form,
ul.context_menu li form{
	position:fixed;
	display:none;
	top:200px;
	left:35%;
	width:340px;
	padding:10px;
	border:1px solid #406c6d;
	background-color:#fff;
}
ul.menu li.selected form,
ul.context_menu li.selected form{
	display:block;
}
ul.menu li form fieldset,
ul.context_menu li form fieldset{
	border:none;
}
ul.menu li form fieldset legend,
ul.context_menu li form fieldset legend{
	display:block;
	background-color:#406c6d;
	color:#fff;
	height:30px;
	line-height:30px;
}
ul.menu li form fieldset label,
ul.context_menu li form fieldset label{
	float:left;
	width:120px;
	font-weight:bold;
}
ul.menu li form fieldset p{
	clear:left;
}

/* Contextual menu */
ul.apps ul.context_menu{
	margin:0;
	padding:0;
	position:absolute;
	width:120px;
	background-color:#eee;
	border:1px solid #ccc;
	list-style:none;
}
ul.apps ul.context_menu li{
	margin:5px;
	display:none;
	cursor:pointer;
}
ul.apps ul.context_menu li.context,
ul.apps ul.context_menu.hide_context li{
	display:block;
}
ul.apps ul.context_menu li.context.hidden{
	display:none;
}
ul.apps ul.context_menu.hide_context li.context{
	display:none;
}
ul.apps ul.context_menu li a:hover{
	color:#000;
}


/* Document */
div.document{
	padding:10px;
	height:auto;
	overflow:auto;
}
div.document div.response{
	color:red;
	font-weight:bold;
	line-height:40px;
}
div.document div.request{
	height:90%;
}

/* Droppable */
.drops{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	display:block;
}
.drops.hidden{
	display:none;
}
.bar{
	width:100%;
	height:10%;
	top:0;
	left:0;
}
.west{
	width:25%;
	height:90%;
	top:0;
	left:0;
}
.north{
	width:50%;
	height:25%;
	top:-90%;
	left:25%;
}
.middle{
	width:50%;
	height:40%;
	top:-90%;
	left:25%;
}
.south{
	width:50%;
	height:25%;
	top:-90%;
	left:25%;
}
.east{
	width:25%;
	height:90%;
	top:-180%;
	left:75%;
}
div.droppable.hidden{
	display:none;
}
div.droppable{
	display:block;
	position:relative;
}
div.droppable.enter{
	border:2px dotted #000;
}
div.droppable.bar.enter{
	border:none;
}
div.width, div.height{
	float:left;
}

/* TODO Create a separated application stylesheet */

/* Login Application Layout */
.login .document label{
	float:left;
	width:200px;
}

/* Folder Application layout */
.folder .document ul{
	margin:0;
	padding:0;
	list-style:none;
}
.folder .document ul li a{
	text-decoration:none;
	display:block;
}
.folder .document ul li a.selected{
	background-color:#406c6d;
}
.folder .document ul li a.selected *{
	background-color:#406c6d;
	color:#ffffff;
}
.folder .document ul li.hidden{
	display:none;
	opacity:0.5;
	-moz-opacity:0.5;
}

/* List view */
.folder .document ul.list li.header *{
	font-weight:bold;
}
.folder .document ul.list li{
	clear:left;
}
.folder .document ul.list li span{
	display:block;
	width:25%;
	float:left;
	height:20px;
	line-height:20px;
	border-bottom:1px solid #ccc;
}
.folder .document ul.list li span.name{
	width:17%;
	padding-left:3%;
}
.folder .document ul.list li a{
	width:100%;
	float:left;
}
.folder .document ul.list li a span.image,
.folder .document ul.list li a span.locked{
	display:none;
}
.folder .document ul.list li.folder a span.name{
	background:url(images/folder_small.png) no-repeat;
}
.folder .document ul.list li.download.text a span.name{
	background:url(images/text_small.png) no-repeat;
}
.folder .document ul.list li.download.text.xml a span.name{
	background:url(images/xml_small.png) no-repeat;
}
.folder .document ul.list li.download.text.xml.svg a span.name{
	background:url(images/svg_small.png) no-repeat;
}
.folder .document ul.list li.download a span.name{
	background:url(images/download_small.png) no-repeat;
}
.folder .document ul.list li.download.image a span.name{
	background:url(images/image_small.png) no-repeat;
}
.folder .document ul.list li span span,
.folder .document ul.list li a span span{
	display:none;
}
.folder .document ul.list li span.arrow,
.folder .document ul.list li a span.arrow{
	width:5%;
}
.folder .document ul.list li a span.subcontent{
	background: url(images/right.gif) no-repeat;
}
.folder .document ul.list li a span.subcontent:hover{
	background: url(images/right_filled.gif) no-repeat;
}
.folder .document ul.list li a span.down{
	background: url(images/bottom.gif) no-repeat;
}
.folder .document ul.list li a span.down:hover{
	background: url(images/bottom_filled.gif) no-repeat;
}
.folder .document ul.list li ul.hidden{
	display:none;
}
.folder .document ul.list li ul{
	clear:left;
	background: url(images/menu.gif) repeat-x;
	margin-left:2%;
}
.folder .document ul.list li ul li{
	clear:left;
}

/* Icons view */
.folder .document ul.icons li{
	float:left;
	margin:10px;
}
.folder .document ul.icons li.header{
	display:none;
}
.folder .document ul.icons li a{
	width:80px;
	padding-top:50px;
	background-repeat:no-repeat;
	background-position:center 0;
	overflow:hidden;
}
.folder .document ul.icons li a span{
	display:none;
}
.folder .document ul.icons li a span.name{
	display:block;
	text-align:center;
}
.folder .document ul.icons li.folder a{
	background-image:url(images/folder.png);
}
.folder .document ul.icons li.download.text a{
	background-image:url(images/text.png);
}
.folder .document ul.icons li.download.text.xml a{
	background-image:url(images/xml.png);
}
.folder .document ul.icons li.download.text.xml.svg a{
	background-image:url(images/svg.png);
}
.folder .document ul.icons li.download a{
	background-image:url(images/download.png);
}
.folder .document ul.icons li.download.image a{
	padding-top:0;
}
.folder .document ul.icons li.download.image a span.image{
	display:block;
	width:48px;
	height:48px;
	overflow:hidden;
	background-color:#ccc;
	border:1px solid #406c6d;
	margin:0 auto 0 auto;
}
.folder .document ul.icons li.download.image a span.image img{
	width:48px;
}
.folder .document ul.icons li#cache a{
	background-image:url(images/cache.png);
}
.folder .document ul.icons li#content a{
	background-image:url(images/content.png);
}
.folder .document ul.icons li#css a{
	background-image:url(images/css.png);
}
.folder .document ul.icons li#images a{
	background-image:url(images/images.png);
}
.folder .document ul.icons li#js a{
	background-image:url(images/js.png);
}
.folder .document ul.icons li#schemas a{
	background-image:url(images/schemas.png);
}
.folder .document ul.icons li#services a{
	background-image:url(images/services.png);
}
.folder .document ul.icons li#templates a{
	background-image:url(images/templates.png);
}
.folder .document ul.icons li span.locked{
	position:absolute;
	display:block;
	width:20px;
	height:20px;
	background:url(images/lock.png) no-repeat;
	margin:-20px 0 0 48px;
}
.folder .document ul.icons li ul{
	display:none;
}

/* XML/package manager Editor layout */
/*.xml .document li,
.package .document li{
	margin:5px 0 5px 0;
	clear:left;
	list-style-image:url(images/bottom.gif);
}
.xml .document li:hover,
.package .document li:hover{
	list-style-image:url(images/bottom_filled.gif);
}
.xml .document li.folded,
.package .document li.folded{
	list-style-image:url(images/right.gif);
}
.xml .document li.folded:hover,
.package .document li.folded:hover{
	list-style-image:url(images/right_filled.gif);
}*/
.xml .document li.folded ul,
.package .document li.folded p{
	display:none;
}
.xml .document span label.handle,
.xml .document span label{
	display:block;	
	margin:0 10px;
	width:200px;
	height:20px;
}
.xml .document label a.help{
	text-decoration:none;
	cursor:help;
}
.xml .document span.content{
	border-bottom:1px solid #000;
}
.xml .document span.content>span{
	display:block;
	background-color:#ccc;
}
.xml .document span.content>span>label{
	clear:left;
	float:left;
}
.xml .document span.content span input,
.xml .document span.content span select{
	margin-right:10px;
}
.xml .document textarea{
	width:100%!important;
	height:400px!important;
}
.xml .newNodes{
	display:none;
}
.xml .nicEdit-panelContain{
	clear:both;
}
.xml .tooltips li{
	list-style:none;
	display:none;
	position:absolute;
	border:1px solid #406c6d;
	background-color:#fff;
	width:600px;
	padding:10px;
}
.xml .document ul{
	margin:0;
	padding:0;
	list-style:none;
}
.xml .document ul li span.arrow span{
	display:none;
}
.xml .document ul li span.arrow{
	display:block;
	height:20px;
	width:5%;
	float:left;
}
.xml .document ul li span.content{
	width:95%;
	float:left;
}
.xml .document ul li span.subcontent{
	background: url(images/right.gif) no-repeat;
}
.xml .document ul li span.subcontent:hover{
	background: url(images/right_filled.gif) no-repeat;
}
.xml .document ul li span.down{
	background: url(images/bottom.gif) no-repeat;
}
.xml .document ul li span.down:hover{
	background: url(images/bottom_filled.gif) no-repeat;
}
.xml .document ul li ul.hidden{
	display:none;
}
.xml .document ul li span ul{
	clear:left;
	background: url(images/menu.gif) repeat-x;
}

/* Package manager layout */
.package .document fieldset{
	width:98%;
	height:360px;
	margin:0 0 20px 0;
}
.package .document ul{
	height:100%;
	overflow:auto;
	margin:0;
	padding:0 0 0 20px;
}
.package .document li{
	cursor:pointer;
	padding-bottom:4px;
	border-bottom:1px solid #ccc;
}
.package .document li.installed{
	color:#406c6d;
}
.package .document li label{
	float:right;
}

/* SVG and Image applications layout */
.image .document,
.svg .document{
	background-color:#ccc;
}
.image .menu fieldset label input,
.svg .menu fieldset label input{
	width:30px;
	margin-right:2px;
}
.image .menu fieldset#resize #resizeTrack{
	float:left;	
	display:block;
	width:200px;
	height:3px;
	background-color:#d3cac1;
	border:1px solid #81756a;
	margin:8px 4px 0 0;
	font-size:0;
}
.image .menu fieldset#resize #resizeHandle{
	display:block;
	cursor:move;
	width:29px;
	height:13px;
	background:transparent url(images/bg_handle.gif) left top no-repeat;
	margin:-5px 0 0 0;
}
.image .menu fieldset#rotation label input{
	width:12px;
	float:left;
	border:0;
}
.image .document fieldset#rotation label span{
	font-size:0;
	display:block;	
	width:16px;
	height:16px;
	border:1px solid #81756a;
	float:left;
	margin:0 10px 0 0;
}
.image .menu fieldset#rotation label span{
	padding-left:20px;
}
.image .menu fieldset#rotation label#r0 span{
	background:url(images/rotation0.gif) no-repeat;
}
.image .menu fieldset#rotation label#r90 span{
	background:url(images/rotation90.gif) no-repeat;
}
.image .menu fieldset#rotation label#r180 span{
	background:url(images/rotation180.gif) no-repeat;
}
.image .menu fieldset#rotation label#r270 span{
	background:url(images/rotation270.gif) no-repeat;
}
.svg .document svg{
	background:#fff;
	border:1px solid #000;
}

/* Text editor */
.text .document form{
	height:95%;
}
.text .document form textarea{
	width:99%;
	height:100%;
}
